
.idea
~ci.list.txt
~ci.log.txt
~ci.errors.txt
*.stackdump
*.bak
*.old
*.log
tsconfig.json
package-lock.json
test
.github
.gitkeep
/.*
tests
/~*
__test__
__tests__
/node_modules/
**/node_modules/

*.ts
!*.d.ts
/bin/**/*.d.ts
/bin/*.d.ts

*.tgz
/tsconfig.json

yarn-error.log
.git
yarn.lock
*.tgz
!/files/tsconfig.json
!/files/**/*
/files/src/**/*.d.ts
/files/src/**/*.js
/files/src/**/*.js.map
